// Place all the styles related to the millionaire controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#replay {
	font-size: 30px;
	cursor: pointer;
	border-radius: 30px;
	padding: 10px;	
	background-color: blue;
	color: white;
	padding-bottom: 15px;
}

.list_line_even{
	background-color: rgba(111, 116, 130, .5);
}

table {
	color:white;
	border-collapse: collapse;
	}

.even{background-color: grey}

body {
	background: black;
	font-family: 'Roboto Slab', serif;
}

audio {
	display: none;
}

.clear {
	clear: both;
}

#game {
	text-align: center;
}

#top {
	width: 960px;
	margin: 0 auto;
}

#levels {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	color: white;
	text-align: right;
	margin-top: 40px;
	font-size: 1.3em;
}

.active {
	color: green;
	font-weight: bold;
	text-decoration: underline;
}

#options {
	width: 960px;
	height: 70px;
	margin: 0 auto;
}

#question-box {
	background: #ddd;
	width: 960px;
	margin: 0 auto;
	padding: 10px;
	font-size: 1.5em;
}

.big-text {
	color: #FF7E00;
	font-size: 2em;
	margin-right: 15px;
}

#money {
	font-size: 1.9em;
	font-weight: bold;
	color: green;
	float: right;
	display: block;
	height: 50px;
	padding-top: 20px;
}

#logo {
	width: 480px;
	float: left;
	margin-left: 240px;
	margin-top: 60px;
}

#game-over {
	display: none;
	font-size: 8em;
	font-weight: bold;
	color: white;
	width: 980px;
	margin-top: 300px;
	margin: 0 auto;
	text-align: center;
}

#fifty {
	background: url('50-50.png') no-repeat 0 0;
}

#phone-friend {
	background: url('phone-friend.png') no-repeat 0 0;
}

#audience {
	background: url('audience.png') no-repeat 0 0;
}

#answer-box {
	color: white;
	font-size: 1.3em;
	text-align: left;
	width: 960px;
	margin: 0 auto;
}

.answer:hover {
	text-decoration: underline;
	cursor: pointer;
}

.options-button {
	width: 64px;
	height: 64px;
	margin-left: 12px;
	float: left;
	background-position: 0 0;
	cursor: pointer;
}

.options-button:hover {
	background-position: 0 -64px !important;
}